@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");

body {
  font-family: "Quicksand", sans-serif;
  background: linear-gradient(to bottom, #f0f4f8, #ffffff);
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  color: #2c3e50;
}

.App-header {
  background-color: #ffffff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #2c3e50;
}

.container-main {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  height: 80vh;
}

.container-box {
  flex: 1;
  margin: 15px;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 15px 5px 5px 15px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  overflow-y: auto;
}

.container-box:first-child {
  margin-right: 10px;
}

.container-box:last-child {
  margin-left: 10px;
}

.container-title {
  text-align: center;
  color: #2c3e50;
}

.container-sort {
  margin-left: 30px;
  color: #2c3e50;
}

select {
  border-radius: 5px;
  padding: 5px;
  background-color: #ffffff;
  border: 1px solid #2c3e50;
  color: #2c3e50;
}

input.search {
  height: 30px;
  width: 400px;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #2c3e50;
  background-color: #ffffff;
  color: #2c3e50;
}

button {
  padding: 10px 20px;
  font-size: 15px;
  border: 1px solid #2c3e50;
  border-radius: 5px;
  background-color: #2c3e50;
  color: #ffffff;
  cursor: pointer;
}

button:hover {
  background-color: #1a252f;
}

.topnav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 15px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  margin: 20px;
}

.search {
  margin: 0 20px;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  padding: 10px 0;
  border-bottom: 1px solid #2c3e50;
}

.quicksand-medium {
  font-family: "Quicksand", sans-serif;
  font-weight: 400;
}

.quicksand-semibold {
  font-family: "Quicksand", sans-serif;
  font-weight: 400;
}

.quicksand-bold {
  font-family: "Quicksand", sans-serif;
  font-weight: 700;
}

.quicksand-semibold-music {
  font-family: "Quicksand", sans-serif;
  font-weight: 700;
  font-size: 20px;
  color: #2c3e50;
}

.quicksand-semibold-title {
  font-family: "Quicksand", sans-serif;
  font-weight: 500;
  display: flex;
  align-items: center;
  margin-left: 50px;
  color: #2c3e50;
}

.quicksand-bold-title {
  font-family: "Quicksand", sans-serif;
  font-weight: 700;
  font-size: 50px;
  display: inline;
  color: #2c3e50;
}

.quicksand-bold-logo {
  font-family: "Quicksand", sans-serif;
  font-weight: 700;
  font-size: 20px;
  color: #2c3e50;
  text-shadow: -1px -1px 0 #ffffff, 1px -1px 0 #ffffff, -1px 2px 0 #ffffff,
    2px 2px 0 #ffffff;
  padding-left: 2px;
}

.filled-icon {
  color: #b0deff;
  position: absolute;
  font-size: 30px;
  top: -7.5px;
  left: 2.5px;
  z-index: 2;
}

.outline-icon {
  color: #2c3e50;
  font-size: 30px;
  transform: translateX(-1px);
  z-index: 1;
}

.icon-container {
  position: relative;
}

.quicksand-bold-music-title {
  font-family: "Quicksand", sans-serif;
  font-weight: 700;
  font-size: 35px;
  display: inline;
  line-height: 1.2;
  color: #2c3e50;
}

.quicksand-medium-music-artist {
  font-family: "Quicksand", sans-serif;
  font-weight: 525;
  font-size: 20px;
  margin-top: 1px;
  color: #2c3e50;
}

.quicksand-medium-music-album {
  font-family: "Quicksand", sans-serif;
  font-weight: 500;
  font-size: 20px;
  margin-bottom: 1px;
  color: #2c3e50;
}

.quicksand-bold-logo-title {
  font-family: "Quicksand", sans-serif;
  font-weight: 700;
  color: white;
  font-size: 50px;
  padding-top: 50px;
  line-height: 1;
  text-shadow: -1px -1px 0 #2c3e50, 1px -1px 0 #2c3e50, -1px 2px 0 #2c3e50,
    2px 2px 0 #2c3e50;
}

.quicksand-bold-subtitle {
  font-family: "Quicksand", sans-serif;
  font-weight: 700;
  color: white;
  padding-bottom: 50px;
  text-shadow: -1px -1px 0 #2c3e50, 1px -1px 0 #2c3e50, -1px 1px 0 #2c3e50,
    1px 1px 0 #2c3e50;
}

.quicksand-bold-select {
  font-family: "Quicksand", sans-serif;
  font-weight: 700;
  font-size: 18px;
  margin-left: 5px;
  color: #2c3e50;
}

.subtitle-divider {
  border: none;
  border-bottom: 1px solid #2c3e50; /* Add border-bottom style */
  width: 100%;
  margin-top: 5px; /* Adjust spacing */
}

.clouds {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0),
      rgba(255, 255, 255, 1)
    ),
    url("clouds.png") repeat-x;
  background-size: 100% 100%, auto 100%;
  background-position: calc(-1000px + (1000px * var(--random-initial-position)))
      0,
    right;
  animation: moveClouds 60s linear infinite;
  transform-origin: top left;
  opacity: 0.9;
  z-index: -1;
}

@keyframes moveClouds {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 1000px 0;
  }
}

.liked .blue-heart {
  color: #61b0ff;
}

.white-heart {
  color: rgb(255, 255, 255);
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 15px;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 15px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}
